
<%- include ('partials/header') %>

  <h1 class="text-center text-white">Trending on GIPHY!</h1>
	<div class="container well fs-4">
		<!-- need trending api -->
		<img id="gif" src="<%= image[0] %>" alt="0" />
		<img id="gif" src="<%= image[1] %>" alt="1" />
		<img id="gif" src="<%= image[2] %>" alt="2" />
		<img id="gif" src="<%= image[3] %>" alt="3" />
		<img id="gif" src="<%= image[4] %>" alt="4" />
		<img id="gif" src="<%= image[5] %>" alt="5" />
		<img id="gif" src="<%= image[6] %>" alt="6" />
		<img id="gif" src="<%= image[7] %>" alt="7" />
		<img id="gif" src="<%= image[8] %>" alt="8" />
		<img id="gif" src="<%= image[9] %>" alt="9" />
		<img id="gif" src="<%= image[10] %>" alt="10" />
		<img id="gif" src="<%= image[11] %>" alt="11" />
		<img id="gif" src="<%= image[12] %>" alt="12" />
		<img id="gif" src="<%= image[13] %>" alt="13" />
		<img id="gif" src="<%= image[14] %>" alt="14" />
		<img id="gif" src="<%= image[15] %>" alt="15" />
		<img id="gif" src="<%= image[16] %>" alt="16" />
		<img id="gif" src="<%= image[17] %>" alt="17" />
		<img id="gif" src="<%= image[18] %>" alt="18" />
		<img id="gif" src="<%= image[19] %>" alt="19" />
		<img id="gif" src="<%= image[20] %>" alt="20" />
		<img id="gif" src="<%= image[21] %>" alt="21" />
		<img id="gif" src="<%= image[22] %>" alt="22" />
		<img id="gif" src="<%= image[23] %>" alt="23" />
		<img id="gif" src="<%= image[24] %>" alt="24" />
	</div>

<%- include ('partials/footer') %>