<%- include('partials/header') %>
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class='text-center mt-5'>HOME</h1>
            <div>
          <div>
<%- include('partials/footer') %>
          <!-- recall: with bootstrap, for a row, it takes up 12 columns -->
          <!-- the 4 images don't fit in the row -->
          <!-- what can we do? -->
          <div class="row">
            <div class="col">
              <div class="img_container">
<!--            <img src="assets/images/breakfast1.jpg" alt="frontend"> -->
                <img src="assets/images/pbj.jpg" alt="frontend">
              </div>
              <!-- first we did the images, now we go back and add the a tags -->
              <!-- recall _blank opens a new tab -->
              <a href="http://www.costco.com" target="_blank">
                <!-- mt = margin top, mb = margin bottom -->
                <h2 class='text-center' mt-3 mb-5>Front End Projects</h2>
              </a>
            </div>
            <div class="col">
              <% console.log(data) %>
              <div class="img_container">
                <img src="assets/images/breakfast2.jpg" alt="frontend">
              </div>
              <a href="http://www.costco.com" target="_blank">
                <h2 class='text-center' mt-3 mb-5>Back End Projects</h2>
              </a>
            </div>
            <div class="col">
              <div class="img_container">
                <img src="assets/images/breakfast3.jpg" alt="frontend">
              </div>
              <a href="http://www.costco.com" target="_blank">
                <h2 class='text-center' mt-3 mb-5>Middle End Projects</h2>
              </a>
            </div>
            <div class="col">
              <div class="img_container">
                <img src="assets/images/breakfast4.jpg" alt="frontend">
              </div>
              <a href="http://www.costco.com" target="_blank">
                <h2 class='text-center' mt-3 mb-5>Dead End Projects</h2>
              </a>
            </div>
            <!-- looking above, how can we modularize the entries ? Use helper files -->
          </div>
          <div class="row">
            <% data.forEach( element => { %>
              <div class="col">
              <div class="img_container">
              <img src=<%= element.src %> alt=<%= element.alt %>>
              <a href=<%= element.href %> target="_blank">
                <h2 class='text-center' mt-3 mb-5><%= element.content %>>
              </a>
              </div>
              </div>
            <% }) %>
          </div>
              
